#OS junk files
Thumbs.db
*.DS_Store

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
Bbuild/
/scripts/init.js
firechat
firechat.pub

#Subversion files
.svn

# Office Temp Files
~$*